<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.yagay.yauto.platform.accessibility.YAutoAccessibilityService"
            android:label="YAuto UI 自动化"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/yauto_accessibility_service" />
        </service>
    </application>
</manifest>
